body {
  background: black;
}

.list__link {
  background-color: #f3d827;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 7.5px;
  text-align: center;
  font-size: larger;
  font-weight: 500;
  transition: 0.2s;
  width: 50%;
}

.list__link:hover {
  background-color: #f3d827a8;
  color: black;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
  padding: 15px;
  background-color: black;
  color: white;
}

.item-wrapper {
  margin-top: 320px;
}

.logo-image {
  width: 200px;
  height: 200px;
  margin: 10px;
  position: fixed;
  top: 0;
  left: 44%;
}

@media screen and (max-width: 600px) {
  footer {
    position: absolute;
    bottom: 0;
  }

  .item-wrapper {
    margin-top: 100px;
  }

  .logo-image {
    display: none;
  }
}
